#canvas {
  background: #eee;
  width: calc(100% - 40px);
  height: 80%;
  position: absolute;
  margin: 20px;
}

.controller {
  position: absolute;
  background-color: #b7b0ff;
  bottom: 0px;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 17%;
  display: flex;
}

.sim {
  display: flex;
  align-items: center;
  float: left;
}

.editSim {
  display: flex;
  align-items: center;
  float: right;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.form-signin {

  display: flex;
}

input {
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(212, 212, 212);
  height: 40px;
  padding: 5px;
}

.product_num {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

